// Import only what you need from Bulma
@import '../../../node_modules/bulma/sass/utilities/initial-variables.sass'

$border-color: #000000
$box-padding: 0rem
$button-padding-horizontal: 5rem
$button-border-color: $border-color
// Import only what you need from Bulma
@import '../../../node_modules/bulma/bulma.sass'